# Entornos virtuales
venv/
env/
.venv/

# Cache de Python
__pycache__/
*.pyc

# Variables de entorno
.env

# Archivos de datos originales (Opcional: Si el Excel es muy pesado o privado, descomenta la siguiente línea)
# *.xlsx
# *.csv